*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: inter, sans-serif;
}
/**Generic styles**/
.grey-color {
    color: ;
}
.flex {
	display: flex;
   align-items: center;
}
.header_txt_props {
    font-size: 30px;
    line-height: 40px;
    margin-right: 60px;
    position: relative;
}
.padding_left{ 
    padding-left: 130px;
}
/**/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: #131212;
    
}
li, a, button{
    font-weight:500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-right:auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    margin: 0 5px;

}

button{
    background: #f58632;
    padding: 9px 25px;
    border-style: none;
    border-radius: 50px;
    }
    .hero{
        background: rgb(1,1,1);
        background: linear-gradient(90deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);;
        height: 400px;
        width: 100% !important;
        position: relative;
    }

    .Hero-contents{
        display: inline-block;
        padding-top: 160px;
        margin-left: 150px;
         }

    .Hero-img{
        height: 1090px;
        position: absolute;
        top:2px;
        right:20px;
        z-index: 0;
        
    } 
    /* Manifesto Section Starts */
    .manifesto{
        margin-left:150px;
        margin-top: 20px;
        position: relative;
    }
    .manifesto h2{
	    font-size: 32px;
	    margin-bottom:20px;
	    position: relative;
    }
    .manifesto-class{
        color: #0B9444;
    }
/*.border{
    border-bottom:4px solid #f58632;
    width: 8%;
    position: absolute;
    top: 40px;
}*/

.manifesto p{
    font-size: 20px;
    font-weight: 500;
}

.manifesto-list li{
    font-weight: bold;
    list-style: none;
    color: black;
    margin: 10px 0;
}

.manifesto li::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color:#F58632;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    /* left:0; */
    padding: 2px;
    margin-right: 8px;
}
.manifesto-list{
    margin-top:20px;
}

h1{
    margin-bottom: 10px;
    font-size: 42px;
    color: #edf0f1;
}
.manifesto li .items{
    font-size: 20px;
    color: #f58632;
}

.Hero-p{
    line-height: 1.3;
    width: 40%;
    text-align: left;
    color: white;
}
.orange_color{
    color: #f58632;
}

.nav_links a:hover{
    border-bottom: 2px solid #f58632;
    padding-bottom: 4px;
    transition: 0.3s ease-in-out;
  
}
/* About Obinna starts */
section.about-obinna{
    background-color: #1B1A1A;
    color:#F3F2F2 ;
    height: 353px;
    width: 100%;
    margin-top: 50px;
    z-index: 1;
    position: relative;
}
/*.border*/
.border::after {
    content: '';
    background: #F58632;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 2px;
}
.other{
    margin-top: 20px;
}

.other > p {
    width: 70%;
    margin-bottom: 60px;
}
.academics h3#academics {
    line-height: 10px;
}

.academics > div.Schools{
   float: left;
   margin-right: 20px;
}
.Schools h4 {
    margin: 5px 0 3px 0;
}
.fund_sec {
	z-index: 3;
	width: 100%;
	height: 280px;
	position: relative;
	background: #fff;
}

.fund_sec > .other {
	width: 70%;
}
.fund_sec .other > p {
	width: 80%;
	margin: 35px 0 40px 0;
}
.fundings div.mx-1:first-child {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.fundings div.mx-1:first-child h4 {
	margin-bottom: 5px;
}
.fundings div.mx-1 {
	float: left;
	display: flex;
	align-items: flex-end;
	margin-right: 50px;
}

div.mx-1 div.lx {
	float: left;
	margin-right: 15px;
}
.mx-1#mx-11 > div {
	float: left;
}
.cta_donate {
	padding: 4.5px 7px;
	width: 100px;
	height: 26px;
	background: #000;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	margin: 0 0 8px 18px;
	cursor: pointer;
	box-shadow: 1px 1px 9px 2px #9999996b;
}
