*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: .13px !important;
    text-decoration: none;
}
body{
    font-family: inter, sans-serif;
}

/**Generic styles**/
:root {
	--orange_color: #f58632;
}
.white_color {
	color: #fff;
}

.flex {
	display: flex;
   align-items: center;
}
.header_txt_props {
    font-size: 30px;
    line-height: 40px;
    margin-right: 60px;
    position: relative;
}
.padding_left{ 
    padding-left: 130px;
}
/**/

header.main_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 120px;
    background: #131212;
    /*position: fixed;*/
    /*z-index: 9999;*/
    width: 100%;
}
li, a, button{
    /*font-weight:500px;*/
    /*font-size: 16px;*/
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-right:auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    margin: 0 5px;

}

button.Donate {
    background: var(--orange_color);
    padding: 9px 25px;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}
.hero{
    background: rgb(1,1,1);
    background: linear-gradient(90deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);;
    height: 400px;
    width: 100% !important;
    position: relative;
}

.Hero-contents{
    display: inline-block;
    padding-top: 160px;
    /*margin-left: 150px;*/
}

.Hero-img{
    height: 1090px;
    position: absolute;
    top:76px;
    right:20px;
    z-index: 0;
    
} 
/* Manifesto Section Starts */
.manifesto{
    /*margin-left:150px;*/
    padding-top: 20px;
    padding-bottom: 38px;
    position: relative;
}
.manifesto h2{
    padding-bottom: 4px;
    font-size: 32px;
    margin: 20px 0 12px 0;
    position: relative;
   }
.manifesto-class{
    color: #0B9444;
}
/*.border{
    border-bottom:4px solid #f58632;
    width: 8%;
    position: absolute;
    top: 40px;
}*/

.manifesto p{
    font-size: 20px;
    font-weight: 500;
}

.manifesto-list li{
    font-weight: bold;
    list-style: none;
    color: black;
    margin: 10px 0;
}

.manifesto li::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--orange_color);
    display: inline-block;
    border-radius: 100%;
    position: relative;
    /* left:0; */
    padding: 2px;
    margin-right: 8px;
}
.manifesto-list{
    margin-top: 17px;
}

h1{
    margin-bottom: 10px;
    font-size: 42px;
    color: #edf0f1;
}
.manifesto li .items{
    font-size: 20px;
    color: var(--orange_color);
}

.Hero-p{
    line-height: 1.3;
    width: 40%;
    text-align: left;
    color: white;
}
.orange_color{
    color: #f58632;
}

.nav_links a:hover{
    border-bottom: 2px solid #f58632;
    padding-bottom: 4px;
    transition: 0.3s ease-in-out;
  
}
/* About Obinna starts */
section.about-obinna{
    background-color: #1B1A1A;
    color:#F3F2F2;
    height: 353px;
    width: 100%;
    z-index: 1;
    position: relative;
}
/*.border*/
.border::after {
    content: '';
    background: #F58632;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 2px;
}
.other{
    margin-top: 20px;
    overflow: hidden;
}

.other > p {
    width: 70%;
    line-height: 23px;
    margin-bottom: 60px;
}
.academics h3#academics {
    line-height: 10px;
}

.academics > div.Schools{
   float: left;
   margin-right: 40px;
}
.Schools h4 {
    margin: 5px 0 3px 0;
}
.fund_sec {
	z-index: 3;
	width: 100%;
	height: 283px;
	position: relative;
	background: #fff;
}

.fund_sec > .other {
	width: 70%;
}
.fund_sec .other > p {
	width: 80%;
	margin: 15px 0 40px 0;
}
.fundings div.mx-1:first-child {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fundings div.mx-1:first-child h4 {
	margin-bottom: 5px;
}
.fundings div.mx-1 {
	float: left;
	display: flex;
	align-items: flex-end;
	margin-right: 80px;
}

div.mx-1 div.lx {
	float: left;
	margin-right: 8px;
}
.mx-1#mx-pstack > div {
	float: left;
}
.mx-1#mx-pstack h4 {
	margin-bottom: 3px;
}
.cta_donate {
	padding: 3.5px 7px;
	width: 100px;
	height: 26px;
	background: #000;
	color: #fff;
	font-size: 14px;
	/* position: relative; */
	border-radius: 20px;
	margin: 0 0 8px 18px;
	cursor: pointer;
	box-shadow: 1px 1px 9px 2px #9999996b;
}

.cta_donate:hover .bx {

}
.cta_donate .bx {
	position: absolute;
	font-size: 19px;
}

/**/
.footer_primary_color {
	color: #C7C4C4;
}
.footer_main {
	height: 159px;
	overflow: hidden;
	width: 100%;
	background: #3c3c3c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer_items {
	width: inherit;
}

.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
	margin-right: 90px;
	float: left;
}
.footer_items > div:last-of-type {
	margin-right: 0;
}
.footer_items h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 16.5px;
	line-height: 30px;
}
.footer_items #socials ol li:hover {
	background: var(--orange_color);
}
.footer_items #socials ol li:hover i.bx {
	color: #fff;
}
.footer_items #socials ol li {
	float: left;
	display: flex;
	background: #fff;
	height: 25px;
	width: 25px;
	margin: 5px 3px 0 10px;
	border-radius: 30px;
	align-items: center;
	transition: .9s ease all;
	justify-content: center;
}
.footer_items #socials ol li i.bx {
	font-size: 18px;
	color: #3c3c3c;
}
.footer_items #socials ol li i.bx.bxl-linkedin {
	font-size: 16px;
}
.footer_items #socials ol li i.bx.bxl-twitter {
	margin-top: 2px;
}
.footer_items #socials ol li i.bx.bxl-facebook {
	margin-top: 2px;
	font-size: 23px;
}
.footer_items > div :not(h5) {
	font-size: 14px;
}
.footer_items #adr address {
	font-style: normal;
	line-height: 20px;
}
.footer_items #contacts li {
	line-height: 20px;
}
.footer_items #author h5 {
	color: #979595;
	line-height: 25px;
}
/*
*/
@media screen and (max-width: 1220px) {
	.Hero-img{
        height: 1000px;
        top: 95px;
    } 
    .header_txt_props {
	    font-size: 25px;
	    line-height: 30px;
	}
}
@media screen and (max-width: 1188px) {
	.padding_left {
		padding-left: 120px;
	}
	header.main_header {
	    padding: 30px 90px;
	}
	 .fundings div.mx-1 {
		margin-right: 50px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 70px;
	}
}
@media screen and (max-width: 1132px) {
	.padding_left {
		padding-left: 90px;
	}
	.Hero-img {
        height: 900px;
        /*top: 67px;*/
    }
    .fundings div.mx-1 {
		margin-right: 50px;
	}
	.nav_links li{
		padding: 0 15px;
	}
	.header_txt_props {
		margin-right: 70px;
	}
	
}
@media screen and (max-width: 1090px) {
	.nav_links li{
		padding: 0 10px;
	}
	.hero {
		height: 370px;
	}
	.Hero-img {
		height: 865px;
	}
	.padding_left {
		padding-left: 80px;
	}
	.header_txt_props {
		margin-right: 50px;
	}
	.Hero-contents h1 {
		font-size: 35px;
		margin-bottom: 8px;
	}
	.manifesto h2 {
	    font-size: 28px;
	}
	.manifesto p {
	    font-size: 18px;
	}
	.other > p {
		font-size: 15.5px;
		line-height: ;
	}
	
}
@media screen and (max-width: 1024px) {
	header.main_header {
		padding: 30px 53px;
	}
	.logo {
		width: 195px;
	}
	.nav_links li {
		padding: 0 7px;
	}
	.nav_links li a {
		font-size: 15.3px;
	}
	.padding_left {
		padding-left: 60px;
	}
	button.Donate {
		font-size: 15px;
	    padding: 7px 23px;
   	}
   	.hero {
    	height: 342px;
	}
	.Hero-contents {
		padding-top: 110px;
	}
	.Hero-contents h1 {
		font-size: 33px;
		margin-bottom: 8px;
	}
	.Hero-p {
		width: 50%;
	}
   	.Hero-img {
		height: 824px;
	}
	.manifesto h2 {
	    font-size: 26px;
	}
	.manifesto p {
		font-size: 17.7px;
	}
	.manifesto-list li {
		font-size: 15.5px;
	}
	.other > p {
		width: 75%;
	    font-size: 15.7px;
	}
	.header_txt_props {
	    font-size: 23px;
	    line-height: 28px;
	}
	.other #academics {
		font-size: 17px;
	}
	.Schools {
		font-size: 95%;
	}
	.academics > div.Schools {
		margin-right: 30px;
	}
	.fundings .lx img {
		width: 60px;
	}
	div.mx-1 div.lx {
		font-size: 99%;
	}
	#mx-pstack img {
		width: 117px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 60px;
	}
	.footer_items h5 {
	    font-size: 16.1px;
	}
	.footer_items > div :not(h5) {
		font-size: 13.8px;
	}
}
@media screen and (max-width: 986px) {
	.hero {
	    height: 307px;
	}
	.Hero-p {
		font-size: 15.6px;
		line-height: 1.4;
	}
	.Hero-img {
    	top: 81px;    
	    height: 761px;
	}
	.fundings div.mx-1 {
		margin-right: 27px;
	}
	.footer_items > div:not(div#reachout), .footer_items #reachout > div {
		margin-right: 50px;
	}

}
@media screen and (max-width: 940px) {
	.logo {
	    width: 175px;
	}
	.hero {
		height: 302px;
	}
	.Hero-contents {
	    padding-top: 130px;
	}
	.Hero-contents h1 {
	    font-size: 30px;
	}
	.Hero-p {
		font-size: 14.7px;
	}
	.Hero-img {
    	top: 72px;
    	height: 723px;
 	}
 	.manifesto {
   		/*padding: 20px 0 29px 0;*/
   		padding-bottom: 29px;
 	}
 	.manifesto h2 {
	    font-size: 23.4px;
	    margin: 10px 0;
	}
	.manifesto p {
		font-size: 17.13px;
	}
	.manifesto-list li {
		font-size: 15.2px;
	}
	
 	.other > p {
	    font-size: 15.2px;
	}
	.academics > div.Schools {
	    margin-right: 23px;
	}
	.Schools {
	    font-size: 90%;
	}
	.fundings .lx img {
		width: 50px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 55px;
	}
	.footer_items h5 {
	    font-size: 15.3px;
	}
	.footer_items > div :not(h5) {
		font-size: 13.19px;
	}
	.header_txt_props {
	    font-size: 21px;
	    line-height: 28px;
	}
	.padding_left {
		padding-left: 42px;
	}
	.header_txt_props {
		margin-right: 40px;
	}
	.fund_sec .other > p {
	    width: 80%;
	    margin: 8px 0 59px 0;
	}
}
@media screen and (max-width: 890px) {
	.hero {
		height: 280px;
	}
	.Hero-contents {
	    padding-top: 98px;
	}
	.Hero-contents h1 {
	    font-size: 30px;
	}
	.Hero-p {
		font-size: 14.5px;
	}
	.Hero-img {
    	top: 42px;
    	height: 723px;
 	}
 	.nav_links li {
		padding: 0 5px;
	}
	.nav_links li a {
		font-size: 15.2px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 50px;
	}
}

/*Layout changes */
@media screen and (max-width: 864px) {

	/* Generic styles here */
	.padding_left {
		padding-left: 0;
	}
	.other {
		width: 90% !important;
    	margin: 20px auto 0 auto !important;
	}
	.flex {
		display: block;
	}
	.header_txt_props {
		width: max-content;
		margin: 0 auto;
		padding-bottom: 5px;
		text-align: center;
	}
	.border::after {
		left: 0;
	}/* This is the border after the header text */
	.other > p {
	    margin: 0 auto 60px auto;
	    width: 100%;
	    text-align: center;
	}
	/**/

	.hero {
	    height: 319px;
	}
	.Hero-contents h1 {
	    font-size: 27px;
	}
	.Hero-p {
	    font-size: 14px;
	}
	.Hero-img {
		height: 553px;
		top: 0;
		right: 34px;
	}
	
	.padding_left.Hero-contents {
		padding-left: 47px;
	}

	.Hero-contents {
	    padding-top: 125px;
	}
	.manifesto {
		z-index: 4;
		background: #fff;
    	overflow: hidden;
		text-align: center;
		padding-top: 11px;
		padding-bottom: 19px;
	}
	.manifesto h2 {
		margin: 18px auto;
	}
	.manifesto-list {
		text-align: left;
	    width: max-content;
	    margin: 0 auto;
	}
	.manifesto-list li {
		margin: 16px 0;
	}
	
	.about-obinna {
		padding-top: 20px;
	}
	
	.about-obinna h2.header_txt_props {
		text-align: center;
	}
	.about-obinna h2.header_txt_props br {
		display: none;
	}
	.about-obinna .other > p {
		text-align: justify;
	}
	.Schools {
		margin-bottom: 15px;
	}
	.fund_sec {
		padding: 10px 0;
	}
	.fund_sec .other> p {
		width: 100%;
		margin-bottom: 39px;
	}	
	.footer_main {
		height: 204px;
		display: block;
		position: relative;
	}
	.footer_items {
	    display: flex;
	    flex-direction: column;
	    height: inherit;
	    align-items: center;
	    justify-content: space-evenly;
	}
	.footer_items > div:not(div:last-of-type) {
		/* margin: 0 0 25px 0; */
	}
	.footer_items #author br {
		display: none;
	}
	.footer_items #reachout {
		order: 1;
	}
	.footer_items #socials {
		order: 2;
	}
	.footer_items #author {
		order: 3;
		margin-top: 5px;
	}
}
