*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: inter, sans-serif;
}
/**Generic styles**/
.grey-color {
    color: darkgray;
}
/**/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: #131212;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}
li, a, button{
    font-weight:500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-right:auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    margin: 0 5px;

}

button{
    background: #f58632;
    padding: 9px 25px;
    border-style: none;
    border-radius: 50px;
    }
    .hero{
        background: rgb(1,1,1);
        background: linear-gradient(90deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);;
        height: 400px;
        width: 100% !important;
        position: relative;
        top: 50px;
    }

    .Hero-contents{
        display: inline-block;
        padding-top: 160px;
        margin-left: 150px;
         }

    .Hero-img{
        height: 1090px;
        position: absolute;
        top:160px;
        right:20px;
        
    } 
    /* Manifesto Section Starts */
    .manifesto{
        margin-left:150px;
        margin-top: 20px;
        position: relative;
        top: 50px;
    }
    .manifesto h2{
        font-size: 32px;
        margin-bottom:20px;
        }
        .manifesto-class{
            color: #0B9444;
        }
.border{
    border-bottom:4px solid #f58632;
    width: 8%;
    position: absolute;
    top: 40px;
}

.manifesto p{
    font-size: 20px;
    font-weight: 500;
}

.manifesto-list li{
    font-weight: bold;
    list-style: none;
    color: black;
    margin: 10px 0;
}

.manifesto li::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color:#F58632;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    /* left:0; */
    padding: 2px;
    margin-right: 8px;
}
.manifesto-list{
    margin-top:20px;
}

h1{
    margin-bottom: 10px;
    font-size: 42px;
    color: #edf0f1;
}
.manifesto li .items{
    font-size: 20px;
    color: #f58632;
}

.Hero-p{
    line-height: 1.3;
    width: 40%;
    text-align: left;
    color: white;
}
.orange_color{
    color: #f58632;
}

a:hover{
    border-bottom: 2px solid #f58632;
    padding-bottom: 4px;
    transition: 0.3s ease-in-out;
  
}
/* About Obinna starts */
section.about-obinna{
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #1B1A1A;
    color:#F3F2F2 ;
    height: 353px;
    width: 100%;
    margin-top: 50px;
    z-index: 1;
    padding-left: 130px;
    position: relative;
    top: 50px;
}
.about-obinna h2 {
    font-size: 30px;
    line-height: 40px;
    margin-right: 60px;
    position: relative;
}
.about-obinna h2::after {
    content: '';
    position: absolute;
    top: 110%;
    width: 20px;
    height: 5px;
}
.other{
    margin-top: 20px;
}

.other > p{
    width: 70%;
    margin-bottom: 60px;
}
.academics h3#academics {
    line-height: 10px;
}

.academics > div.Schools{
   float: left;
   margin-right: 20px;
}
.Schools h4 {
    margin: 5px 0 3px 0;
}
