*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: .13px !important;
    text-decoration: none;
    border: none;
    outline: none;
}
*::-webkit-scrollbar {
	width: 7px;
}
*::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #adadad78;
}
*::-webkit-scrollbar-track {
	background: #eee;
}
p {
	line-height: 1.6 !important;
	user-select: none;
}
body{
    font-family: inter, sans-serif;
    
}
.generic_sec > .snap {
 	opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
	animation: fade-in 3s forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
	animation: fade-out 3s forwards;
}
div#btop, #fill {
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 25;
    width: 100%; 
    visibility: hidden;
    background: #0a0303ad;
}
#fill {
	background: #fff;
	visibility: visible;
	z-index: 40;
}
.main {
    scroll-padding-top: 28vh;
    position: relative;
     overflow-y: scroll; 
    height: 100vh;
    scroll-snap-type: y;
    overscroll-behavior-x: contain;
}


#nav_overlay:active {
	visibility: visible;
}
#nav_overlay {
    right: 0;
    height: calc(100vh - 104px);
    width: 45%;
    position: absolute;
    top: 100%;
    z-index: 15;
    overflow-y: scroll;
    overflow-x: hidden;
     visibility: hidden; 
    background: #000;
    display: grid;
    flex-direction: column;
    justify-content: center;
}
nav#resp_nav {
	text-align: center;
	padding: 5px 0;
	height: 80%;
	overflow: hidden;
}
nav#resp_nav ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}
nav#resp_nav ul li:last-of-type a {
	color: var(--orange_color)
}
nav#resp_nav ul li {
	font-weight: 700;
	font-size: 19px;
}
nav#resp_nav ul li a:hover {
	color: #e1e1e1;
}
nav#resp_nav ul li a {
    padding: 5px 10px;
    transition: .7s ease color;
    display: block;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    font-kerning: none;
}
#nav_overlay #nav_close {
    color: #fff;
    text-align: center;
    display: none;
    width: 90%;
    margin: 54px auto 30px auto;
    font-size: 50px;
}
#nav_close .fa {
	cursor: pointer;
}
.fa {
	font-family: fontAwesome;
}
nav#resp_nav ul li a:after {
	font-family: fontAwesome;
	font-size: 15px;
	margin-left: 10px;
}

/**Generic styles**/
:root {
	--orange_color: #f58632;
	--active_color: #f58632;
	--mx_p_font: 16px;
	--mx_h2: 20px;
	--gray: #9aa0a6ad;
	--cta_donate_bg: #011b33;
	--green: #0B9444;
}
.white_color {
	color: #fff;
}
.fixed_width {
	width: calc(105vw - 24vw);
	margin: 0 auto;
}
.flex_column {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
}
.flex {
	display: flex;
   	align-items: center;
   	justify-content: center;
}
.header_txt_props {
    font-size: 30px;
    line-height: 40px;
    margin-right: 60px;
    position: relative;
}
.padding_left { 
    padding-left: 130px;
}

/** Generic styles for manifesto, about, join, donate page **/
.sec_page {
	padding-bottom: 4.6em;
}
header#mx_hd {
    padding: 9% 0;
    overflow: hidden;
}
div#mx_hdWrap {
    display: flex;
    justify-content: space-between;
}
div#mx_hdTxt {
    width: 100%;
}
.banner .img {
	position: absolute;
    right: 14%;
    width: 30%;
    bottom: -4px;
}
.banner .img img {
	width: 100%;
}
.pageH1 {
	font-size: 30px;
}
.pageContent {
	margin: 3em auto 1em auto;
}
/**/

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
header.main_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 110px;
    background: #131212;
    z-index: 30;
    width: 100%;
    position: sticky;
    top: 0;
}
a{
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-right:auto;
}
.main_header > nav {
	position: relative;
}
#navbar {
	position: absolute;
	cursor: pointer;
	display: none;
}
#navbar > .fa  {
	color: #fff;
	font-size: 35px;
	font-style: normal;
}
.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 14px;
    color: white;
    margin: 0 5px;

}
.nav_links li a.active {
    border-bottom: 2px solid var(--active_color);
}
.nav_links li a {
    transition: 0.3s ease-in-out;
    padding-bottom: 4px;
}
.nav_links li a:hover {
    border-bottom: 2px solid var(--active_color);
}
button.Donate {
    background: var(--orange_color);
    padding: 9px 25px;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}
.hero{
    background: rgb(1,1,1);
    background: linear-gradient(0deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);
    background:	-webkit-linear-gradient(0deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);
    background: -moz-linear-gradient(0deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);
    height: 400px;
    width: 100% !important;
    position: relative;
}

.Hero-contents{
    display: inline-block;
    padding-top: 160px;
}

.Hero-img{
    height: 1090px;
    position: absolute;
    top:76px;
    right:20px;
    z-index: 0;
    
} 
.generic_sec {
    z-index: 20;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}
.ReadMore{
	margin: 8px 0 0 0;
	font-size: 16px;
	padding: 5px;
	font-weight: 600;
	background-color: #f58632;
	color: #fff;
	border-radius: 5px;
	border-style: none;
}

/* manifesto page*/

div#mx_manifest {
	padding-bottom: 2em;
}
div#mx_manifestInner #mx_hd {
    background: var(--orange_color);
    padding: 9% 0;
}
#mx_manifestInner #mx_hdTxt {
	/*visibility: hidden;
	opacity: 0;*/
}
div#mx_manifestInner .banner .img {
   top: 9%;
}
#mx_manifestInner #mx_content h3 {
	font-weight: 600;
	margin: 20px 0 7px 0;
}
#mx_manifestInner #mx_contentList {
	margin-top: 0;
}
#mx_manifestInner div#mx_contentList, #mx_manifestInner #mx_headerText {
	margin-bottom: 1.9em;
}
#mx_manifestInner .items, .pageH2 {
	margin: 0 0 7px 0;
	font-size: 19px;
}
#mx_manifestInner #mx_content p {
	font-size: 16.8px;
	line-height: 1.4 !important;
}
/* Manifesto Section Starts */
.manifesto {
    padding-top: 2px;
    padding-bottom: 17px;
    position: relative;
}
.manifesto h2{
    padding-bottom: 4px;
    font-size: 32px;
    margin: 18px 0 13px 0;
    position: relative;
   }
.manifesto-class{
    color: #0B9444;
}
div#manifesto_content {
    width: 95%;
    margin: auto;
}
.manifesto p{
	line-height: 1.2 !important;
    font-size: 18px;
    font-weight: 500;
}

.manifesto-list .items{
    font-weight: bold;
    list-style: none;
    color: black;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.items::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--orange_color);
    display: inline-block;
    border-radius: 100%;
    position: relative;
    padding: 2px;
    margin-right: 8px;
}
.manifesto-list{
    margin-top: 13px;
}

h1{
    margin-bottom: 10px;
    font-size: 42px;
    color: #edf0f1;
}
.manifesto li .items{
    font-size: 20px;
    color: var(--orange_color);
}

.Hero-p{
    line-height: 1.3;
    width: 50%;
    text-align: left;
    color: white;
    font-size: 17.8px;
}
.orange_color{
    color: #f58632;
}
/** Gallery page **/
.g_flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup_overlay #popBg {
    background: #000000bf;
    z-index: 14;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}
.popup_overlay {
	z-index: 15;
    align-items: center;
}

.popup_overlay {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    display: none;
}
.popup_main {
	border-radius: 5px;
	width: 700px;
	background: #0c0606;
	height: 80vh;
	margin: 0 auto;
	align-items: flex-end;
	position: relative;
	z-index: 17;
}
div#popup_imgMain {
    height: 100%;
    width: 100%;
    align-items: flex-end;

}
/*div#popup_imgMain:before {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    background: #fff;
}*/
div#willShow {
    height: inherit;
    overflow: hidden;
    opacity: 0;
}
div#popup_imgMain img {
	width: 50%;
	margin-bottom: 5px;
}
#close {
    border: 2px solid #949191;
    width: 40px;
    top: 0;
    border-radius: 20px;
    right: 10px;
    margin: 5px;
    z-index: 15;
    height: 40px;
    transition: .3s ease all;
}
#close:hover {
	border-color: #fff;
}
#close:hover i.fa {
	color: #fff;
}
#close i.fa {
	font-size: 20px;
}
.action, #close {
	cursor: pointer;
	position: absolute;
}
 .action {
	height: inherit;
	width: 50%;
	justify-content: flex-start;
	z-index: 13;
}
.action:hover i.fa {
	color: #fff;
}
.action#prev {
	left: 0;
}
.action#prev i.fa {
	margin-left: .4em;
}
.action#next {
	right: 0;
	justify-content: flex-end;
}
.action#next i.fa {
	margin-right: .4em;
}
.popup_main i.fa {
    color: #ffffff8f;
    display: block;
    transition: .3s ease all;
}
.action i.fa {
    font-size: 40px;
}
#mx_gallery {
	padding: 3em 0;
}
#mx_galleryInner h1 {
	color: var(--green);
	margin-left: 4.5%;
}
#gallery_content {
	width: 100%;
	padding: 0 0 8% 0;
	margin-top: 2em;
}
#images .row {
    justify-content: space-around;
}
#images .row:not(.row:first-child) {
    margin-top: 3em;
}

.row .gallery_box {
    padding: 18% 0;
    overflow: hidden;
    border-radius: 10px;
    width: 40%;
    background: #301a1a;
    position: relative;
}
.gallery_box .img_fill {
	background: #0000008a;
	z-index: 9;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: .3s ease all;
	opacity: 0;
}
.row .gallery_box:hover .img_fill {
	opacity: 1;
}
.img_fill a {
    width: 100%;
    height: 100%;
}
.img_fill a span {
    width: 71px;
    border: 3px solid #999999;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 15px;
}
.gallery_box .img_fill, .gallery_img {
	position: absolute;
	top: 0;
}
.gallery_box .gallery_img {
    width: 95%;
    z-index: 1;
    margin: 0 auto;
}
.gallery_img img {
	width: 100%;
}

/**style for about page */
#mx_abtInner #mx_hd {
	background: var(--green);
	padding: 10% 0;
}
#mx_abtInner .banner .img {
    top: 8%;
    width: 34%;
}
#mx_abtText::after {
    border: 1px solid #eee;
    height: 10px;
    width: 90%;
}
.contentHead {
    padding-bottom: 3em;
}
.contentHead h2 {
    margin: 0 0 0.3em 0;
}
#mx_abtText p {
	margin-top: 1em;
}
#eduList h2 {
	margin-bottom: 10px;
}
#eduList ul {
	margin-left: 23px;
}
#eduList ul li {
	color: #000;
	margin-bottom: .6em;
}
/**/
.banner {
	position: relative;
}

/* Join page **/
#mx_joinInner #mx_hd {
	background: var(--orange_color);
	margin-top: 3em;
	overflow: visible;
}
#mx_joinInner .banner .img {
    top: initial;
    right: 13%;
    bottom: -4px;
}
#mx_joinContent > header h2 {
	color: var(--green)
}
#sec_form {
	width: 100%;
	position: relative;
	margin: 1em 0;
}
#sec_form::after {
	margin: 0 auto;
	content: '';
	border: 1px solid #cbc2ba;
	/*width: 95%;*/
	display: block;
}
#sec_form form {
    margin-bottom: 1em;
}
#form_main {
	width: 100%;
}
#form_main legend {
	display: none;
}
#form_main ol {
	display: block;
	overflow: hidden;
	display: flex;
	margin-bottom: .8em;
	justify-content: space-around;
}
#form_main ol li {
	width: 40%;
	float: left;
	margin-bottom: .5em;
}
#form_main ol label {
	display: block;
	cursor: pointer;
	margin-bottom: .4em;
}
#form_main ol input {
	width: 100%;
	border: 1px solid #00000047;
	font-size: 17px;
	/*height: 34px;*/
	background: #f5863205;
	padding: 5px 10px;
	border-radius: 5px;
}
#form_main ol:last-of-type {
	justify-content: flex-start;
	margin-left: 5%;
}
#form_main ol:last-of-type li {
	width: 100%;
}
#form_main ol button {
    cursor: pointer;
    text-align: center;
    padding: 8px 29px;
    border-radius: 5px;
    font-size: 14px;
    transition: .5s ease all;
}
#form_main ol button#submit {
	margin-right: 10px;
	background: #7a6b64;
	color: #fff;
}
#form_main ol button#submit:hover {
	background: #5e534e;
}
#form_main ol button#cancel{
	background: #fff;
	border: 2px solid #7a6b64;
}
#form_main ol button#cancel:hover {
    background: #5e534e;
    color: #fff;
}
#ct_ft {
    overflow: hidden;
    margin: 0 0 5em 0;
}
#ct_ft h3 {
	font-size: 17px;
}
#ct_ft ol {margin-left: 2%;}
#ct_ft ol li {
	font-size: 15px;
	margin: 10px 0 0 0;
	float: left;
}
#ct_ft ol li:first-child {
	margin-right: 80px;
}
#ct_ft ol a {
	color: #000;
	display: flex;
	align-items: center;
	transition: .4s ease all;
}
#ct_ft ol a:hover {
	text-decoration: underline;
	color: var(--orange_color)
}
#ct_ft ol a img {
	margin-right: 3px;
}
/*

#ct_ft ol li i {
    display: flex;
    width: 30px;
    background: #444;
    border-radius: 20px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}*/

/**/

/* About Obinna starts */
section.about-obinna{
    padding-bottom: 47px;
    padding-top: 20px;
    background-color: #1B1A1A;
    color: #F3F2F2;
    width: 100%;
    z-index: 1;
    position: relative;
}
/*.border*/
.border::after {
    content: '';
    background: #F58632;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 2px;
}
.other{
    margin-top: 20px;
    overflow: hidden;
}

.other > p {
    width: 70%;
    line-height: 23px;
    margin-bottom: 42px;
    letter-spacing: .5px !important;
}
.academics h3#academics {
    line-height: 10px;
}

.ReadMore > a {
    width: 100%;
    font-weight: 500;
    padding: 3px;
    display: block;
    height: inherit;
}

.academics > div.Schools{
   float: left;
   margin-right: 40px;
}
.Schools h4 {
    margin: 5px 0 3px 0;
}

/**Donate Page*/
#mx_donateInner #mx_hd {
	background: var(--gray);
    padding: 11% 0;
}

section#transfers {
    background: #fff;
    margin-top: 3em;
}

.d_heading {
    letter-spacing: 1px !important;
    font-size: 17.5px !important;
    color: var(--orange_color);
}

#transfer_bank .txt:first-child p {
    font-size: 15px;
}

#transfer_bank .txt:last-of-type p {
    font-size: 14.6px;
    line-height: 1.3;
}

div#transfers_inner > div#transfer_bank{
    padding-bottom: 1.5em;
}
div#transfers_inner > div:last-of-type {
    padding-top: 1.4em;
}
div#transfer_paystack .d_heading {
	color: var(--cta_donate_bg) !important;
}
div#transfer_paystack > div.txt:first-child {
	width: auto !important;
}
div#transfer_paystack:before {
    position: absolute;
    content: '';
    border: 1px solid #c1c1c1;
    width: 180px;
    display: none;
}
#transfers_inner > div#mx_headerText {
	margin-bottom: 3em;
}
#transfers_inner > div:not(#mx_headerText) {
    grid-auto-flow: column;
    display: grid;
    width: 100%;
    position: relative;
    justify-items: center;
    justify-content: start;
}

#transfer_bank .txt {
    width: 100%;
    position: relative;
}
#transfer_bank .alertBox {
	left: 0 !important;
}
#transfers_inner > div .txt:first-child {
    margin-right: 39px;
    width: 300px;
}
#transfer_bank .txt:last-of-type {
    display: flex;
    align-items: center;
}
#transfer_bank .txt:last-of-type > div {
	float: left;
	margin: 0 10px 0 0; 
	position: relative;
}
#transfer_bank .txt:last-of-type > div br {
	margin-bottom: 10px;
}
div#transfer_paystack > .txt:last-of-type {
    display: flex;
    align-items: center;
}
div#transfer_paystack > .txt:last-of-type button {
    padding: 7px 10px;
    background: var(--cta_donate_bg);
    border-radius: 8px;
    margin-left: 20px;
}
div#transfer_paystack > .txt:last-of-type a {
    display: block;
    widows: inherit;
    height: inherit;
}

/**/
.fund_sec {
	z-index: 3;
	width: 100%;
	position: relative;
	background: #fff;
	padding-bottom: 41px;
	padding-top: 35px;
}

.fund_sec > .other {
	width: 70%;
}
.fund_sec .other > p {
	width: 85%;
	margin: 0 0 52px 0;
}
.fundings {
	grid-auto-flow: column;
	overflow: visible;
	grid-column: 2;
	display: grid;
	width: 100%;
}
.fundings div.mx-1:first-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: max-content;
}

.fundings div.mx-1:first-child h4 {
	margin-bottom: 5px;
}
.fundings div.mx-1 {
	float: left;
	display: flex;
	align-items: flex-end;
	overflow: visible;
}
div#box:hover {
    box-shadow: 0px 1px 8px 0px #011b335e;
    -moz-box-shadow: 0px 1px 8px 0px #011b335e;
   -webkit- box-shadow: 0px 1px 8px 0px #011b335e;
}
.alertBox {
     z-index: 5;
     visibility: hidden;
     -webkit-box-shadow: 0px 1px 9px 0px #011b335e;
     -moz-box-shadow: 0px 1px 15px 0px #011b335e;
     box-shadow: 0px 1px 15px 0px #011b335e;
     color: #000000;
     text-align: center;
     cursor: pointer;
     font-weight: bold;
     left: 100px;
     top: -26px;
     padding: 5px 0;
     background: #ffffff;
     width: 70px;
     font-size: 14px;
     position: absolute;
     border-radius: 10px;
}
div.mx-1 div.lx br {
	display: none;
}
div.mx-1 div.lx {
	float: left;
	cursor: copy;
	margin-right: 8px;
}
.mx-1#mx-pstack > div {
	float: left;
}
.mx-1#mx-pstack h4 {
	margin-bottom: 3px;
}
#mx-pstack h4 #alt {
	display: none;
}
.cta_donate {
	width: 100px;
	display: flex;
	height: 26px;
	background: #011b33;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	margin: 0 0 6px 10px;
	cursor: pointer;
	box-shadow: 1px 1px 9px 2px #e1f1ff;
	-moz-box-shadow: 1px 1px 9px 2px #e1f1ff;
	-webkit-box-shadow: 1px 1px 9px 2px #e1f1ff;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cta_donate .fa  {
    font-size: 12px;
}
.cta_donate a {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-evenly;
}
/**/
.footer_primary_color {
	color: #C7C4C4;
}
.footer_main {
	overflow: hidden;
	padding: 40px 0;
	width: 100%;
	background: #3c3c3c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer_items {
	width: inherit;
}

.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
	margin-right: 90px;
	float: left;
}
.footer_items > div:last-of-type {
	margin-right: 0;
}
.footer_items h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 16.5px;
	line-height: 30px;
}
.footer_items #socials ol li:hover {
	background: var(--orange_color);
}
.footer_items #socials ol li:hover i.fa  {
	color: #fff;
}
.footer_items #socials ol li {
	float: left;
	background: #fff;
	height: 25px;
	width: 25px;
	margin: 5px 3px 0 10px;
	border-radius: 30px;
	transition: .9s ease all;
}
.footer_items #socials ol li a {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_items #socials ol li i.fa  {
	font-size: 16px;
	color: #3c3c3c;
}
.footer_items #socials ol li i.fa .fal-linkedin {
	font-size: 16px;
}
.footer_items #socials ol li i.fa .fal-twitter {
	margin-top: 2px;
}
.footer_items #socials ol li i.fa .fal-facebook {
	margin-top: 2px;
	font-size: 23px;
}
.footer_items > div :not(h5) {
	font-size: 14px;
}
.footer_items #adr address {
	font-style: normal;
	line-height: 20px;
}
#adr address br:first-child {
	display: none;
}
.footer_items #contacts li {
	line-height: 20px;
}
.footer_items #author h5 {
	color: #979595;
	line-height: 25px;
}
/*
*/
@media screen and (max-width: 1220px) {
	.Hero-img{
        height: 1000px;
        top: 95px;
    } 
    .header_txt_props {
	    font-size: 25px;
	    line-height: 30px;
	}
}
@media screen and (max-width: 1188px) {
	.padding_left {
		padding-left: 120px;
	}
	header.main_header {
	    padding: 30px 90px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 70px;
	}
}
@media screen and (max-width: 1132px) {
	.padding_left {
		padding-left: 90px;
	}
	.Hero-img {
        /* height: 900px; */
    }
	.nav_links li{
		padding: 0 15px;
	}
	.header_txt_props {
		margin-right: 70px;
	}
	
}
@media screen and (max-width: 1090px) {
	.nav_links li{
		padding: 0 10px;
	}
	.hero {
		height: 370px;
	}
	.Hero-img {
		height: 865px;
	}
	.padding_left {
		padding-left: 80px;
	}
	.header_txt_props {
		margin-right: 50px;
	}
	.Hero-contents h1,.bannerHead {
		font-size: 35px;
		margin-bottom: 8px;
	}
	.manifesto h2 {
	    font-size: 28px;
	}
	.manifesto p {
	    font-size: 17.4px;
	}
	.other > p {
		font-size: 15.5px;
	}
	
}
@media screen and (max-width: 1024px) {
	header.main_header {
		padding: 30px 53px;
	}
	.logo {
		width: 195px;
	}
	.nav_links li {
		padding: 0 7px;
	}
	.nav_links li a {
		font-size: 15.3px;
	}
	.padding_left {
		padding-left: 60px;
	}
	button.Donate {
		font-size: 15px;
	    padding: 7px 23px;
   	}
   	.hero {
    	height: 342px;
	}
	.Hero-contents {
		padding-top: 110px;
	}
	.Hero-contents h1,.bannerHead {
		font-size: 33px;
		margin-bottom: 8px;
	}
   	.Hero-img {
		top: 100px;
	}
	.manifesto h2 {
	    font-size: 26px;
	}
	.manifesto p {
		font-size: 17.49px;
	}
	
	.header_txt_props {
	    font-size: 23px;
	    line-height: 28px;
	}
	.other #academics {
		font-size: 17px;
	}
	.Schools {
		font-size: 95%;
	}
	.academics > div.Schools {
		margin-right: 30px;
	}
	.fundings .lx img {
		width: 60px;
	}
	div.mx-1 div.lx {
		font-size: 99%;
	}
	#mx-pstack img {
		width: 117px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 60px;
	}
	.footer_items h5 {
	    font-size: 16.1px;
	}
	.footer_items > div :not(h5) {
		font-size: 13.8px;
	}
}
@media  screen and (max-width: 986px) {
	.fixed_width {
	    width: calc(109vw - 24vw);
	}
	.hero {
	    height: 307px;
	}
	.Hero-p {
		font-size: 15.6px;
		line-height: 1.4;
	}
	.Hero-img {
    	top: 81px;    
	    height: 761px;
	}
	.header_txt_props {
	    line-height: 25px;
	}
	.manifesto-list {
	    margin-top: 5px;
	}
	.manifesto h2 {
	    padding-bottom: 4px;
	    margin: 15px 0 12px 0;
	}
	.manifesto-list .items {
	    margin: 8px 0;
	}
	.footer_items > div:not(div#reachout), .footer_items #reachout > div {
		margin-right: 50px;
	}

}
@media screen and (max-width: 940px) {
	.logo {
	    width: 175px;
	}
	.hero {
		height: 302px;
	}
	.Hero-contents {
	    padding-top: 130px;
	}
	
	.Hero-img {
    	top: 88px;
    	height: 723px;
  	}
 	.manifesto {
   		padding-bottom: 9px;
  	}
 	.manifesto h2 {
	    font-size: 23.4px;
	    margin: 10px 0;
	}
	.manifesto p {
		font-size: 17.13px;
	}
	
	.academics > div.Schools {
	    margin-right: 23px;
	}
	.Schools {
	    font-size: 90%;
	}
	.fundings .lx img {
		width: 50px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 55px;
	}
	.footer_items h5 {
	    font-size: 15.3px;
	}
	.footer_items > div :not(h5) {
		font-size: 13.19px;
	}
	.header_txt_props {
	    font-size: 21px;
	    line-height: 28px;
	}
	.padding_left {
		padding-left: 42px;
	}
	.header_txt_props {
		margin-right: 40px;
	}
	.pageH1 {
	    font-size: 25px;
	}
}
@media  screen and (max-width: 890px){
	.hero {
		height: 280px;
	}
	.Hero-contents {
	    padding-top: 98px;
	}
	
	.Hero-img {
    	top: 66px;
    	height: 723px;
  	}
 	.nav_links li {
		padding: 0 5px;
	}
	.nav_links li a {
		font-size: 15.2px;
	}
	.footer_items > div:not(div#reachout) , .footer_items #reachout > div {
		margin-right: 50px;
	}
	#mx_joinInner .banner .img {
		right: 9%;
		width: 34%;
	}
}

/*Layout changes from here*/
@media screen and (max-width: 864px) {

	.fixed_width {
		width: 85%;
	}
	div#transfer_paystack > .txt:last-of-type button {
	    display: block;
	}
	.d_gtb img {
	    width: 60px;
	}
	.pageH1 {
	    font-size: 24px;
	}
	.main {
	    scroll-padding-top: 17vh;
	}
	/* Generic styles here */
	.padding_left {
		padding-left: 0;
	}
	.other {
		width: 90% !important;
		margin: 20px auto 0 auto !important;
	}
	.flex {
		display: block;
	}
	.header_txt_props {
		width: max-content;
		margin: 0 auto;
		padding-bottom: 3px;
		text-align: center;
	}
	.border::after {
		left: 0;
	}/* This is the border after the header text */

	.other > p {
	    margin: 0 auto 50px auto;
	    width: 100%;
	}
	/**/
	#navbar {
		display: block;
	}
	header.main_header {
		padding: 12px 35px;
	}
	.main_header > nav, button.Donate {
		display: none;
	}
	.logo {
		width: 154px;
	}
	.hero {
	    height: 319px;
	}
	.padding_left.Hero-contents {
		padding-left: 47px;
	}

	.Hero-contents {
	    padding-top: 111px;
	}
	.Hero-contents h1,.bannerHead {
	    font-size: 27px;
	}
	.Hero-p {
		width: 45%;
	}
	.Hero-img {
		height: 553px;
		top: 0;
		right: 34px;
	}
	
	.manifesto {
		z-index: 4;
		background: #fff;
    	overflow: hidden;
		text-align: center;
		padding-top: 11px;
		padding-bottom: 19px;
	}
	.manifesto h2 {
		margin: 18px auto;
	}
	.manifesto p {
		font-size: 16.49px;
	}
	.manifesto-list {
		text-align: left;
	    width: max-content;
	    margin: 0 auto;
	}
	.manifesto-list li {
		margin: 16px 0 !important;
	}
	/**/
	.about-obinna {
		padding-top: 30px !important;
	}
	.about-obinna h2.header_txt_props br {
		display: none;
	}
	.about-obinna .other > p {
		text-align: left;
	}
	
	.Schools {
		margin-bottom: 15px;
		font-size: 84.39%;
	}
	/**/
	.fundings {
		justify-content: space-around;
	}
	.fund_sec .other> p {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 39px;
	}	
	.cta_donate {
		font-size: 12px;
		width: 88px;
		height: 24px;
	}
	.footer_main {
		display: block;
		position: relative;
		padding: 10px 0 0 0;
	}
	/**/
	.footer_items {
	    display: flex;
	    flex-direction: column;
	    height: inherit;
	    align-items: center;
	    justify-content: space-evenly;
	}
	.footer_items > div {
		margin-bottom: 16px;
	}
	.footer_items > div:not(div#reachout), .footer_items #reachout > div {
		margin-right: 0 !important;
	}
	.footer_items #author br {
		display: none;
	}
	.footer_items #reachout {
		order: 1;
		display: flex;
	    justify-content: space-evenly;
	    width: 100%;
	}
	.footer_items #socials {
		order: 2;
	}
	.footer_items #socials ol {
		display: flex;
		justify-content: space-evenly;
	}
	.footer_items #socials ol li {
		margin-left: 0;
	}
	.footer_items #author {
		order: 3;
		margin-top: 5px;
	}
	/** Gallery page */
	.popup_main {
	    width: 85%;
	    height: initial;
	    padding: 4% 0 0 0;
	    align-items: center;
	}
	div#willShow {
	    height: 100%;
	}
	.action {
	    top: 0;
	}

}

@media screen and (max-width: 714px) {
	div#transfer_paystack > .txt:last-of-type {
	    width: 245px;
	}
	#transfers_inner > div .txt:first-child {
	     width: 213px;
	}
	#nav_overlay #nav_close {
		font-size: 40px;
	}
	.hero {
		height: 312px;
	}
	.Hero-img {
	    height: 510px;
	    top: 20px;
	    right: 20px;
	}
	.padding_left.Hero-contents {
		padding-left: 41px;
	}
	.Hero-contents {
		padding-top: 98px;
	}
	.Hero-p {
		width: 46%;
	}
	.Hero-contents h1, .bannerHead {
	    font-size: 24px;
	}
	/*Join 
	#mx_hd {
	    margin: 0;
	    padding: 12.5% 0;
	}
	#mx_joinInner .banner .img {
	    right: 9%;
	    width: 36%;
	}
	/** Gallery page */
	#mx_galleryInner.fixed_width {
	    width: 97%;
	}
	.popup_main {
	    width: 100%;
	}
	.row .gallery_box {
	    padding: 18% 0;
	    width: 40%;
	}
	.action i.fa {
	    font-size: 31px;
	}
	#close i.fa {
	    font-size: 18px;
	}
	#close {
	    width: 35px;
	    height: 35px;
	}
	/* About page */
	#mx_abtInner .banner .img {
	    top: initial;
	}
	/**/
}
@media screen and (max-width: 672px) {

	section.about-obinna {
	}
	.about-obinna .other > p {
		margin: 0 auto 49px auto;
	}
	div.mx-1 div.lx {
		font-size: 95%;
	}
	#mx_abtInner .banner .img {
	    right: 8%;
	}
	
}

@media screen and (max-width: 634px) {
		.fixed_width {
	    width: 90%;
	}
	.main {
	    scroll-padding-top: 15vh;
	}
	header.main_header {
	    padding: 12px 13px;
	}
	#nav_overlay {
	    height: calc(100vh - 94px);
	}
	.logo {
		width: 134px;
	}
	.Hero-p {
		font-size: 13.5px !important;
	}
	.Hero-img {
	    height: 524px;
	    top: 60px;
	}
	.padding_left.Hero-contents {
		padding-left: 35px;
	}
	.fundings {
		justify-content: space-between;
	}
	
	.cta_donate {
		margin: 0 0 7px 12px;
	}
}
@media screen and (max-width: 575px) {
	section#transfers {
		text-align: initial !important; 
	}
	#transfers_inner > div:not(#mx_headerText) {
	    grid-auto-flow: row;
	    justify-items: initial;
	}
	div#transfer_bank .txt {
	    width: 80% !important;
	}
	div#transfer_paystack:before {
		display: block;
	}
	#transfers_inner > div .txt:first-child {
	    width: 193px;
	    margin-bottom: 1em;
	}
	#sec_page {
		text-align: left;
	}
	.pageH1 {
		font-size: 22px;
	}
	 .pageH2 {
	    font-size: 18px;
	}

	#nav_overlay {
		width: 47%;
	}
	nav#resp_nav ul li {
	    font-size: 18px;
	}
	#navbar > .fa  {
	    font-size: 35px;
	}
	.padding_left.Hero-contents {
		padding-left: 27px;
	}
	.Hero-contents h1 {
		font-size: 24px;
	}
	
	.Hero-img {
	    right: 4px;
	    height: 534px;
	    top: 56px;
	}
	.fund_sec {
		padding-bottom: 40px;
	}
	.fundings {
		justify-content: space-around;
	}
	
	.fundings div.mx-1 {
		flex-direction: column;
    	align-items: flex-start;
	}
	div.mx-1 div.lx br {
		display: block;
	}
	.fundings div.mx-1:first-child {
		display: block;
	}
	.cta_donate {
		margin: 8px 0 0 0;
	}
	div#mx_hdTxt {
	    width: 56%;
	}
	.bannerHead {
	    font-size: 22px;
	}
	#mx_joinInner .banner .img {
	    right: 5%;
	    width: 39%;
	}
	#mx_joinInner .Hero-p {
		width: 90%;
	}
	/* donate page */
	#mx_donateInner .Hero-p {
	    width: 100% !important;
	}
	#mx_donateInner .banner .img {
		right: 8%;
	}
	#mx_abtInner #mx_hd {
		padding: 13% 0;
	}
	#mx_abtInner .Hero-p {
	    width: 100%;
	}
	#mx_manifestInner .Hero-p {
		width: 100%;
	}
	/** Gallery page */
	div#popup_imgMain img {
	    width: 58%;
	}
	.action i.fa {
	    font-size: 25px;
	}
	#close i.fa {
	    font-size: 16px;
	}
	#close {
	    width: 30px;
	    height: 30px;
	    margin: 10px 0px;
	}

}
@media screen and (max-width: 510px) {
	.main {
	    scroll-padding-top: 13vh;
	}
	#nav_overlay {
		height: calc(100vh - 83px);
		width: 50%;
	}
	nav#resp_nav ul li {
		font-size: 17.5px;
	}
	.logo {
	    width: 113px;
	}
	#navbar > .fa  {
	    font-size: 30px;
	}
	.hero {
		height: 290px;
	}
	.Hero-img {
	    height: 460px;
	    top: 52px;
	}
	.Hero-contents {
		padding-top: 76px;
	}
	.Hero-contents h1 > span {
		display: block;
	}
	/*Join*/
	.bannerHead {
	    font-size: 20px;
	}
	p {
	    font-size: 15.4px !important;
	}
	#form_main ol {
		justify-content: space-between;
	}
	#form_main ol li {
	    width: 47%;
	}
	#form_main ol:last-of-type {
		margin-left: 0;
	}
	#form_main ol button {
	    padding: 9px 29px;
	}
	/* Manifesto page */
	div#mx_manifestInner #mx_hd {
	    padding: 13% 0;
	}
	div#mx_manifestInner .banner .img {
	    width: 40%;
	    top: 12%;
	    right: 7%;
	}
	/** Gallery page */
	#images .row:not(.row:first-child) {
	    margin-top: 0;
	}
	#images .row {
		flex-direction: column;
	}
	.row .gallery_box {
	    padding: 33% 0;
	    width: 82%;
	    margin-bottom: 3em;
	}
	#mx_galleryInner h1 {
	    margin-left: 8%;
	}
}

@media screen and (max-width: 452px) {
	#navbar > .fa  {
	    font-size: 30px;
	}
	#nav_overlay {
		width: 55%;
	}
	.logo {
	    width: 117px;
	}
	.Hero-img {
	    height: 434px;
	    top: 86px;
	}
	.padding_left.Hero-contents {
		padding-left: 19px;
	}
	.Hero-p {
		width: 44%;
	}
	.other > p {
		font-size: 15px;
	}
	.manifesto h2 {
		font-size: 24px;
	}
	.manifesto-list {
		width: 89%;
		margin: 0 auto
	}
	/*Join*/
	#form_main ol {
		flex-direction: column;
	}
	#form_main ol li {
    	width: 100%;
    	float: none;
    }
    #form_main ol:last-of-type {
	     margin-left: 0; 
	}
	#form_main ol button {
		display: block;
		width: 100%;
	}
	#form_main ol button#submit {
		margin-bottom: 10px;
	}
	/** Manifesto page */
	div#mx_manifestInner .banner .img {
	    right: 8%;
	    top: 25%;
	}


}
@media screen and (max-width: 415px) {
	.Hero-p {
	    width: 46%;
	    font-size: 13.1px;
	}
	#nav_overlay {
		height: calc(100vh - 81px);
		width: 60%;
	}
	.logo {
	    width: 110px;
	}
	.manifesto p {
	    font-size: 16.3px;
	}
	.manifesto-list li {
	    font-size: 15.2px;
	}
	.fundings {
		display: flex;
		flex-direction: column;
	}
	.fundings div.mx-1 {
		float: none;
		margin-right: 0 !important;
		width: max-content;
		padding: 0 5px;
		align-items: flex-end;
	}
	.fundings div.mx-1 div.lx:last-of-type {
		display: flex;
		text-align: left;
		font-size: 90%;
	}
	.fundings div.mx-1:first-child h4 {
		margin-right: 10px;
	}
	.fundings div.mx-1 div.lx p > strong {
		display: block;
	}
	.fundings div.mx-1#mx-pstack {
		float: none !important;
		flex-direction: row;
		margin-top: 31px;
	}
	.mx-1#mx-pstack h4 {
		margin-bottom: 5px;
	}
	#mx-pstack h4 #alt {
		display: inline;
	}
	.cta_donate {
	    margin: 0px 0px 5px 15px;
		
	}
	.footer_items > div :not(h5) {
		font-size: 12px;
	}
	#adr address br:first-child {
		display: block;
	}
	.footer_items h5 {
		font-size: 14px;
	}

	/*Join*/
	#mx_joinInner #mx_hd {
	    padding: 2em 0;
	    margin: 0;
	}
	#mx_donateInner .banner .img {
		right: 6%;
		width: 33%;
	}
	/** About page */
	#mx_abtInner .banner .img {
	    right: 5%;
	    width: 40%;
	}
	
@media screen and (max-width: 375px) {
	div#transfer_bank .txt {
	    width: 100% !important;
	}
	.pageH1 {
	    font-size: 21.4px;
	}
	#mx_manifestInner .items, .pageH2 {
	    font-size: 17px;
	}
	#mx_manifestInner p{
	    letter-spacing: .6px !important;
	}
	#nav_overlay {
		width: 65%;
	}
	.Hero-contents {
		padding-top: 47px;
	}
	.hero {
		height: 255px;
	}
	.Hero-contents h1 {
		font-size: 21px;
	}
	.Hero-img {
	    height: 371px;
	    top: 87px;
	}
	/*Join*/
	#mx_joinInner #mx_hd {
	    padding: 12% 0;
	}
	#mx_joinInner .banner .img {
	    right: 5%;
	    width: 45%;
	}
	.banner .img {
	    bottom: -4px;
	    width: 50%;
	    height: auto;
	    overflow: hidden;
	}
	.bannerHead {
	    font-size: 18px;
	}
	.Hero-p {
	    font-size: 13px !important;
	}
	/** Gallery */
	#close {
	    width: 25px;
	    height: 25px;
	}
	#close i.fa {
	    font-size: 13px;
	}
	.action i.fa {
	    font-size: 18px;
	}
	

}
@media screen and (max-width: 349px) {
	.Hero-img {
	    height: 324px;
	    top: 98px;
	}
	.hero {
	    height: 281px;
	}
	.Hero-p {
		width: 40%;
	}
	
	.manifesto h2 {
		font-size: 22px;
	}
	.manifesto p {
		font-size: 14.6px;
	}
	.manifesto-list li {
		font-size: 14px;
	}
	/*Manifesto page*/
	div#mx_manifestInner .banner .img {
	    right: 6%;
	    width: 45%;
	    top: 26%;
	}
}
@media screen and (max-width: 319px) {
	div#mx_hdTxt {
	    width: 48%;
	}
	.Hero-contents h1 {
		font-size: 20px;
	}
	#navbar > .fa  {
		font-size: 28px;
	}
	.Hero-p {
		font-size: 12.8px;
		width: 38%;
	}
	.bannerHead {
	    font-size: 17px;
	}
	#mx_donateInner .banner .img {
	    width: 40%;
	}
	#mx_abtInner .banner .img {
	    right: 4%;
	    width: 48%;
	}
	/* manifesto page */
	div#mx_manifestInner .banner .img {
	    width: 49%;
	    top: 30%;
	}
}
@media screen and (max-width: 295px) {
	.Hero-img {
	    height: 321px;
	    top: 107px;
	}
	.manifesto p {
		width: 90%;
		margin: 0 auto;
	}
	.fundings div.mx-1#mx-pstack {
		align-items: flex-start;
		flex-direction: column;
	}
	.cta_donate {
		margin: 7px 0;
	}
	/**Join**/
	#mx_joinInner .banner .img {
	    width: 52%;
	}
	/* manifesto page */
	#mx_manifestInner .Hero-p {
	    line-height: 1.4 !important;
	}
}
@media screen and (max-width: 259px) {
	#mx_joinInner .banner .img {
		width: 56%;
	}
	#mx_donateInner .banner .img {
	    width: 45%;
	}
	div#mx_manifestInner .banner .img {
	    top: 39%;
	}
}
@media screen and (max-width: 209px) {
	header.main_header,.footer_main,#mx_hd,.fixed_width,.main {
	    width: 300px;
	}
	.fixed_width {
	    padding-right: 20px;
	    padding-left: 20px;
	}
}