*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: inter, sans-serif;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: #131212;
    
}
li, a, button{
    font-weight:500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin-right:auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    margin: 0 5px;

}

button{
    background: #f58632;
    padding: 9px 25px;
    border-style: none;
    border-radius: 50px;
    }
    .hero{
        background: rgb(1,1,1);
        background: linear-gradient(90deg, rgba(1,1,1,1) 38%, rgba(6,41,22,1) 54%, rgba(18,141,74,1) 73%);;
        height: 400px;
        width: 100% !important;
        position: relative;
    }

    .Hero-contents{
        display: inline-block;
        padding-top: 160px;
        margin-left: 150px;
         }

    .Hero-img{
        height: 1090px;
        position: absolute;
        top:2px;
        right:20px;
    } 
    /* Manifesto Section Starts */
    .manifesto{
        margin-left:150px;
        margin-top: 20px;
        position: relative;
    }
    .manifesto h2{
        font-size: 32px;
        margin-bottom:20px;
        }
        .manifesto-class{
            color: #0B9444;
        }
.border{
    border-bottom:4px solid #f58632;
    width: 10%;
    position: absolute;
    top: 40px;
}

.manifesto p{
    font-size: 20px;
    font-weight: 500;
}
.manifesto ul li{
color: #f58632;

}
.manifesto ul li{
    color:#000000;
}
.manifesto-list{
    margin-top:20px;

}

h1{
    margin-bottom: 10px;
    font-size: 42px;
    color: #edf0f1;
}
.manifesto li .items{
    font-size: 20px;
    color: #f58632;
}

.Hero-p{
    line-height: 1.3;
    width: 40%;
    text-align: left;
    color: white;
}
.orange_color{
    color: #f58632;
}

a:hover{
    border-bottom: 2px solid #f58632;
    padding-bottom: 4px;
    transition: 0.3s ease-in-out;
  
}